.Header {
    display: block;
    height: 100px;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: 1000;
    color: #000000;
  }

.mmm {
    color: #ffffff;
}

.logo {
    height: 100px;
    width: auto;
}